# Analyse des followers de @Rogue_Artists (Rogue Artists Ensemble)

In [1]:
import nltk

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [11]:
# Installing library for text analytics
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to /Users/manuel/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/manuel/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/manuel/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /Users/manuel/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [3]:
df = pd.read_csv('/Users/manuel/Desktop/rogue_followers.csv', index_col=0)
df2 = df.copy(deep=True)
print(df2.head())
print("There are " + str(df2.count) + " rows")
df2.isna().sum()

                                                         biography  \
account
thea_touchton    I wrote a poetry book about rape culture and I...
ChicanaChingona  Playwright, poet, writer, director, and chican...
MennaAtPlay      Playwright, director, educator. Gypsy jazz vio...
hey_shawnna      Graphic & UI Designer | Maker Of Things | Coff...
JimmyRGeorge     Screenwriter & Script Consultant @scriptbutche...

                                location
account
thea_touchton            Los Angeles, CA
ChicanaChingona            Santa Ana, CA
MennaAtPlay                  Los Angeles
hey_shawnna      South of the Neon Abyss
JimmyRGeorge               Baltimore, MD
There are <bound method DataFrame.count of                                                          biography  \
account
thea_touchton    I wrote a poetry book about rape culture and I...
ChicanaChingona  Playwright, poet, writer, director, and chican...
MennaAtPlay      Playwright, director, educator. Gypsy jazz vio...
hey_shawnna      Graphic & UI Designer | Maker Of Things | Coff...
JimmyRGeorge     Screenwriter & Script Consultant @scriptbutche...
...                                                            ...
thedavidbeach    Actor,  Emcee, Variety Comedian. \r\nhttp://t....
MylesNye         Game designer, improviser, puzzler. Survivor f...
tilde                                            Waltzing my self.
ecoalson                        Theatre educator. lover. kittymom.
seancawelti      Artistic Director @Rogue_Artists Director, Vid...

                                location
account
thea_touchton            Los Angeles, CA
ChicanaChingona            Santa Ana, CA
MennaAtPlay                  Los Angeles
hey_shawnna      South of the Neon Abyss
JimmyRGeorge               Baltimore, MD
...                                  ...
thedavidbeach     LA.CA ( okay Pasadena)
MylesNye                     Berkeley CA
tilde              34.092341,-118.352883
ecoalson                            Home
seancawelti                  Los Angeles

[2769 rows x 2 columns]> rows

biography    317
location     483
dtype: int64

#### Suppression des followers aux données incomplètes

In [4]:
df2 = df2.dropna()
print('account Na : ' + str(df2.index.isna().sum()))
print('bio Na : ' + str(df2.biography.isna().sum()))
print('location Na : ' + str(df2.location.isna().sum()))

account Na : 0
bio Na : 0
location Na : 0

In [5]:
df2.location = df2.location.str.title()
print(df2.location.head())

account
thea_touchton              Los Angeles, Ca
ChicanaChingona              Santa Ana, Ca
MennaAtPlay                    Los Angeles
hey_shawnna        South Of The Neon Abyss
JimmyRGeorge                 Baltimore, Md
Name: location, dtype: object

### Top des localisations
La moitié des followers réside à Los Angeles où est basé Rogue Artists Ensemble.
Si ce n'est à LA, la plupart sont en Californie.
Le marché qui montre des signes d'intérêt mais reste peu développé est New York, avec. Il serait intéressant de mieux connaître le profil de ces personnes car New York est reconnu pour son théâtre

In [6]:
# Cleaning locations to get the rough picture
df2.loc[df2.location.str.contains("LA", case=False, regex=False), "location"] = "Los Angeles"
df2.loc[df2.location.str.contains("Lost Angeles", case=False, regex=False), "location"] = "Los Angeles"
df2.loc[df2.location.str.contains("L.A.", case=False, regex=False), "location"] = "Los Angeles"
df2.loc[df2.location.str.contains("LOS ANGELES", case=False, regex=False), "location"] = "Los Angeles"
df2.loc[df2.location.str.contains("Nyc", case=False, regex=False), "location"] = "New York"
df2.loc[df2.location.str.contains("New York", case=False, regex=False), "location"] = "New York"
df2.loc[df2.location.str.contains("Ny", case=False, regex=False), "location"] = "New York"
df2.loc[df2.location.str.contains("New York, Usa", case=False, regex=False), "location"] = "New York"
df2.loc[df2.location.str.contains("San Francisco", case=False, regex=False), "location"] = "San Francisco"
df2.loc[df2.location.str.contains("Hollywood", case=False, regex=False), "location"] = "Hollywood"
df2.loc[df2.location.str.contains("uk", case=False, regex=False), "location"] = "UK"
df2.loc[df2.location.str.contains("London", case=False, regex=False), "location"] = "UK"
df2.loc[df2.location.str.contains("San diego", case=False, regex=False), "location"] = "San Diego"
df2.loc[df2.location.str.contains("Santa monica", case=False, regex=False), "location"] = "Santa Monica"
df2.loc[df2.location.str.contains("Pasadena", case=False, regex=False), "location"] = "Pasadena"
df2.loc[df2.location.str.contains("ca", case=False, regex=False), "location"] = "California"

df3 = df2.location.value_counts()
print(df3.head(30))

Los Angeles             1123
California               301
New York                 118
Hollywood                 91
UK                        26
Pasadena                  23
United States             21
San Francisco             15
San Diego                 13
Phoenix, Az                6
Worldwide                  6
Global                     6
Seattle, Wa                6
Washington, Dc             5
Austin, Tx                 4
Australia                  3
Toronto, Ontario           3
Earth                      3
Massachusetts              3
Minneapolis, Mn            3
Long Beach                 3
City Of Angels             2
U.S.A.                     2
Vancouver, Bc              2
Beverly Hills              2
Nashville, Tn              2
Colorado Springs, Co       2
Charlottesville, Va        2
On The Road                2
Charlotte, Nc              2
Name: location, dtype: int64

##### Analyse des bio Twitter : recherche des termes qui ressortent le plus

In [17]:
from nltk.tokenize import word_tokenize

In [ ]:
df_nlp = df2.biography.tolist()

###### Séparation des phrases en une liste de mots de toutes les bio

In [18]:
# Function to break a sentence into a list of words
def tokenization(list):
    res = []
    for x in list:
        tokenized_words = word_tokenize(x)
        res.append(tokenized_words)
    return res

# Function to merge the lists from the tokenization
def merge(list):
    res = []
    for x in list:
        res = res + x
    return res

In [ ]:
tokenized_biography = tokenization(df_nlp)
tokenized_biography = merge(tokenized_biography)

###### Analyse des fréquences des mots

In [19]:
from nltk.probability import FreqDist

In [55]:
# Computing the most frequent words, it needs cleaning by withdrowing stop words and punctuation
fdist_bio = FreqDist(tokenized_biography)
print(fdist_bio)
print(fdist_bio.most_common(30))
print(fdist_bio.most_common(20)[0][0])

<FreqDist with 10619 samples and 40410 outcomes>
[(',', 2606), ('.', 2435), ('and', 896), ('#', 839), ('of', 695), ('the', 648), ('@', 574), (':', 522), ('in', 491), ('&', 443), ('a', 427), ('to', 371), ('!', 347), ('for', 312), ('is', 257), ('I', 245), ('https', 203), ('The', 186), ('|', 174), ('at', 172), ('Theatre', 168), ("'s", 166), (')', 160), ('by', 153), ('(', 151), ('theatre', 150), ('Actor', 148), ('-', 143), ('with', 142), ('on', 142)]
,

###### Suppression des mots inutiles

In [52]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/manuel/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [53]:
print(stop_words)

{'had', 'here', "shan't", 'are', 'he', "don't", 'now', 'out', "isn't", 'through', 'how', 'shan', 'a', 'more', 'doesn', 'because', 'into', 'me', 'against', 'ourselves', 'further', 'hers', "you'd", 'an', 'i', "aren't", 'their', "hasn't", 'up', "it's", 'then', 'when', "should've", 'doing', 'ma', 'myself', "weren't", 'most', 'has', 'them', 'in', 'not', 'll', 'few', 'his', 'who', 'didn', 'over', 'or', 'at', "doesn't", 'you', 'such', 'whom', 'having', 'of', 'ours', 'y', 'as', 'nor', 'while', 'our', 'she', 'won', 'did', 'don', 'will', 'off', 'these', "needn't", 'the', 'any', 'why', 'ain', 'weren', 'all', 'down', 'wouldn', "mustn't", 'there', 're', 'to', 'it', 'if', 'd', "she's", 'which', 'should', 'by', "won't", 'yours', "mightn't", 'only', 'this', 't', 'does', 'was', 'than', 'hadn', 'itself', 'above', 'where', 'but', 'other', 'couldn', 'being', 'hasn', 'haven', 'can', 'mustn', "you'll", 'same', "you're", 'yourselves', 'its', 'what', "hadn't", 'until', 'some', 'those', 'mightn', 'too', 'wasn', 'shouldn', 'him', 've', 'isn', 'on', 'my', 'between', 'with', "didn't", 'no', 'o', 'during', 'her', 'about', 'have', 'be', 'just', 'm', 'own', 'theirs', 'been', 'herself', 'before', 'aren', 'under', 'they', 'yourself', 's', 'we', 'each', 'from', 'am', "wouldn't", 'once', "haven't", "you've", 'and', "that'll", 'is', 'so', 'were', "wasn't", 'that', 'for', 'do', 'themselves', 'again', "shouldn't", 'after', 'very', 'below', 'both', 'needn', "couldn't", 'himself', 'your'}

In [22]:
# adding stop words according to the stop words we see in Twitter
stop_words = ['had', 'here', "shan't", 'are', 'he', "don't", 'now', 'out', "isn't", 'through', 'how', 'shan', 'a', 'more', 'doesn', 'because', 'into', 'me', 'against', 'ourselves', 'further', 'hers', "you'd", 'an', 'i', "aren't", 'their', "hasn't", 'up', "it's", 'then', 'when', "should've", 'doing', 'ma', 'myself', "weren't", 'most', 'has', 'them', 'in', 'not', 'll', 'few', 'his', 'who', 'didn', 'over', 'or', 'at', "doesn't", 'you', 'such', 'whom', 'having', 'of', 'ours', 'y', 'as', 'nor', 'while', 'our', 'she', 'won', 'did', 'don', 'will', 'off', 'these', "needn't", 'the', 'any', 'why', 'ain', 'weren', 'all', 'down', 'wouldn', "mustn't", 'there', 're', 'to', 'it', 'if', 'd', "she's", 'which', 'should', 'by', "won't", 'yours', "mightn't", 'only', 'this', 't', 'does', 'was', 'than', 'hadn', 'itself', 'above', 'where', 'but', 'other', 'couldn', 'being', 'hasn', 'haven', 'can', 'mustn', "you'll", 'same', "you're", 'yourselves', 'its', 'what', "hadn't", 'until', 'some', 'those', 'mightn', 'too', 'wasn', 'shouldn', 'him', 've', 'isn', 'on', 'my', 'between', 'with', "didn't", 'no', 'o', 'during', 'her', 'about', 'have', 'be', 'just', 'm', 'own', 'theirs', 'been', 'herself', 'before', 'aren', 'under', 'they', 'yourself', 's', 'we', 'each', 'from', 'am', "wouldn't", 'once', "haven't", "you've", 'and', "that'll", 'is', 'so', 'were', "wasn't", 'that', 'for', 'do', 'themselves', 'again', "shouldn't", 'after', 'very', 'below', 'both', 'needn', "couldn't", 'himself', 'your','.', ',', '#', '@', ':', '&', '!', 'I', 'https', 'The', '|', 's', "'s", ')', '(', '-', '...', 'Los', 'Angeles', 'A', 'LA','•','’','/',';','http', "'m",'?']

In [73]:
# Creating a list with only relevant words by withdrawing stop words
filtered_bio = []
for w in tokenized_biography:
    if w not in stop_words:
        filtered_bio.append(w.lower())

## Mots les plus fréquents dans les bio Twitter

In [75]:
# We have a first result that can still be homegenized
fdist_bio = FreqDist(filtered_bio)
print(fdist_bio)
print(fdist_bio.most_common(100))

<FreqDist with 8813 samples and 23337 outcomes>
[('theatre', 318), ('actor', 203), ('director', 161), ('writer', 156), ('new', 147), ('arts', 145), ('artist', 140), ('theater', 139), ('art', 127), ('producer', 105), ('we', 95), ('company', 89), ('love', 78), ('music', 75), ('world', 74), ('artists', 71), ('lover', 70), ('film', 65), ('life', 61), ('actress', 59), ('playwright', 58), ('hollywood', 58), ('community', 57), ('based', 55), ('one', 55), ('us', 54), ('plays', 53), ('professional', 52), ('play', 51), ('comedy', 50), ('musical', 49), ('work', 46), ('creative', 46), ('live', 46), ('designer', 45), ('entertainment', 42), ('make', 41), ('stage', 41), ('things', 40), ('show', 40), ('time', 39), ('shakespeare', 39), ('media', 38), ('like', 38), ('tv', 38), ('people', 37), ('festival', 37), ('theatrical', 36), ('works', 36), ('performing', 35), ('artistic', 34), ('my', 34), ('award-winning', 34), ('ca', 34), ('she/her', 33), ('best', 33), ('follow', 33), ('free', 33), ('california', 32), ('author', 32), ("'", 32), ('lathtr', 32), ('performance', 31), ("n't", 31), ('social', 31), ('--', 31), ('puppet', 31), ('member', 30), ('teacher', 30), ('creating', 30), ('american', 30), ('since', 29), ('singer', 29), ('acting', 29), ('puppeteer', 29), ('productions', 29), ('actors', 29), ('stories', 28), ('writing', 28), ('dedicated', 28), ('founder', 27), ("''", 27), ('dance', 27), ('living', 27), ('fringe', 27), ('family', 26), ('working', 26), ('mom', 26), ('award', 26), ('manager', 26), ('producing', 26), ('maker', 25), ('+', 25), ('all', 25), ('good', 25), ('great', 25), ('production', 25), ('home', 25), ('original', 25), ('city', 25)]

# Focus sur les followers de New York

In [33]:
df_NY = df2[df2.location == "New York"]
df_NY = df_NY.biography.tolist()

In [28]:
NY_biography = tokenization(df_NY)
NY_biography = merge(NY_biography)

In [29]:
filtered_NY = []
for w in NY_biography:
    if w not in stop_words:
        filtered_NY.append(w.lower())

## Bio followers NY
Most common themes : theatre, Art, professionnals (director, designer, actor, founder, marketing, management, producer, writer)

In [32]:
fdist_NY = FreqDist(filtered_NY)
print(fdist_NY.most_common(50))

[('new', 19), ('theatre', 12), ('nyc', 10), ('we', 10), ('director', 9), ('theater', 9), ('artist', 8), ('actor', 8), ('art', 8), ('artists', 7), ('broadway', 6), ('producer', 6), ('writer', 6), ('theatrical', 6), ('play', 5), ('friends', 5), ('works', 5), ('playwright', 5), ('professional', 5), ('my', 5), ('one', 5), ('arts', 5), ('puppet', 5), ('world', 5), ('life', 5), ('community', 5), ('york', 5), ('like', 5), ('ny', 4), ('designer', 4), ('board', 4), ('work', 4), ('blacklivesmatter', 4), ("n't", 4), ('around', 4), ('music', 4), ('space', 4), ('film', 4), ('plays', 4), ('rock', 3), ('love', 3), ('creative', 3), ('write', 3), ('stage', 3), ('playwrights', 3), ('company', 3), ('founder', 3), ('management', 3), ('marketing', 3), ('creating', 3)]

## Focus sur les followers de Los Angeles

In [35]:
df_LA = df2[df2.location == "Los Angeles"]
df_LA = df_LA.biography.tolist()
LA_biography = tokenization(df_LA)
LA_biography = merge(LA_biography)

filtered_LA = []
for w in LA_biography:
    if w not in stop_words:
        filtered_LA.append(w.lower())
        
fdist_LA = FreqDist(filtered_LA)
print(fdist_LA.most_common(100))

[('theatre', 178), ('actor', 146), ('director', 99), ('writer', 98), ('theater', 80), ('new', 78), ('arts', 70), ('artist', 67), ('producer', 66), ('art', 55), ('company', 52), ('music', 41), ('love', 41), ('world', 39), ('lover', 39), ('actress', 38), ('we', 38), ('based', 37), ('musical', 37), ('comedy', 35), ('life', 34), ('playwright', 34), ('hollywood', 34), ('one', 31), ('community', 31), ('film', 31), ('artists', 31), ('plays', 29), ('play', 29), ('us', 29), ('work', 28), ('lathtr', 28), ('shakespeare', 26), ('follow', 26), ('time', 23), ('professional', 23), ('festival', 23), ('works', 23), ('things', 22), ('she/her', 22), ('theatrical', 22), ('creative', 22), ('entertainment', 21), ('stage', 21), ('artistic', 21), ('stories', 21), ('singer', 21), ('author', 19), ('designer', 19), ('living', 19), ("'", 19), ('tv', 19), ('award-winning', 19), ('american', 19), ('best', 19), ('people', 18), ('member', 18), ('media', 18), ('free', 18), ('my', 18), ('show', 18), ('live', 18), ('all', 17), ('teacher', 17), ('california', 17), ('voice', 17), ('culture', 16), ('l.a.', 16), ('creator', 16), ('acting', 16), ('he/him', 16), ('fringe', 16), ('actors', 16), ('performing', 16), ('dedicated', 16), ('“', 15), ('filmmaker', 15), ('award', 15), ('experience', 15), ('like', 15), ('an', 15), ('the', 15), ('events', 15), ('around', 15), ('”', 14), ('dance', 14), ('make', 14), ('original', 14), ('dog', 14), ('ca', 14), ('you', 14), ('food', 14), ('home', 14), ("n't", 14), ('producing', 14), ('book', 13), ('good', 13), ('bringing', 13), ('education', 13), ('born', 13)]

## Focus sur les followers en UK

In [37]:
df_UK = df2[df2.location == "UK"]
df_UK = df_UK.biography.tolist()
UK_biography = tokenization(df_UK)
UK_biography = merge(UK_biography)

filtered_UK = []
for w in UK_biography:
    if w not in stop_words:
        filtered_UK.append(w.lower())
        
fdist_UK = FreqDist(filtered_UK)
print(fdist_UK.most_common(20))

[('theatre', 3), ('new', 3), ('founder', 3), ('actor', 3), ('based', 3), ('event', 3), ('producer', 2), ('production', 2), ('independent', 2), ('film', 2), ('us', 2), ('love', 2), ('member', 2), ('product', 2), ('ceo', 2), ('expert', 2), ('arts', 2), ('one', 2), ('director', 2), ('time', 2)]